/* PROGRAMACION WEB EN PHP                  */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                  */
/*                                          */
/* CSS ejercicios proyectos                 */
/*                                          */
/* 11 de enero de 2022                      */
/*                                          */

/* Esta parte es comun a todos los ejercicios proyectos */

:root {
    --main-color: 27;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: hsl(var(--main-color), 80%, 95%);
    color: black;
    font-family: sans-serif;
}

h1 {
    margin: 0;
    padding: 5px 20px;
    background-color: hsl(var(--main-color), 80%, 60%);
    color: white;
    text-transform: uppercase;
}

nav {
    margin: 0;
    background-color: hsl(var(--main-color), 80%, 75%);
    color: white;
}

nav ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 0 15px;
}

nav a {
    background-color: hsl(var(--main-color), 80%, 75%);
    color: white;
    font-weight: bold;
}

main {
    display: block; /* lo necesita IE9 IE10 IE11 */
    padding: 10px 20px;
}

input {
    font-family: monospace;
}

.boton-invisible {
    padding: 0;
    border: none;
    background-color: transparent;
}

.aviso {
    color: red;
}

.centrado {
    text-align: center;
}

a img {
    border: none;
}

table.conborde, table.conborde td, table.conborde th {
    border: black 1px solid;
}

thead tr, table.franjas tbody tr:nth-child(even) {
    background-color: hsl(var(--main-color), 80%, 85%);
    color: black;
}

td, th {
    padding-right: 5px;
    padding-left: 5px;
}

footer {
    clear: both;
    margin: 30px 20px 0;
    border-top: black solid 1px;
}

footer cite {
    font-weight: bold;
}

/* Esta parte es especifica de este ejercicio proyecto */
