/* PROGRAMACION WEB EN PHP                  */
/* Bartolome Sintes Marco                   */
/* https://www.mclibre.org                   */
/*                                          */
/* CSS soluciones de los ejercicios         */
/*                                          */
/* 10 de septiembre de 2017                 */
/*                                          */

body {
  padding: 0 20px;
  background-color: #F6F6FF;
  font-family: sans-serif;
}

h1 {
  margin: 10px;
  font-size: 150%;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-size: 125%;
}

fieldset {
  border: #8686FF 3px solid;
  padding: 10px 20px 20px;
  background-color: #E6E6FF;
}

legend {
  border: #8686FF 3px solid;
  padding: 0 10px;
  background-color: white;
  font-size: 120%;
}

input {
  font-size: 100%;
}

.aviso {
  color: red;
}

.grande {
  font-size: 200%;
}

.derecha {
  text-align: right;
}

table.conborde, table.conborde td, table.conborde th {
  border: black 1px solid;
}

footer {
  border-top: black 1px solid;
  margin-top: 2em;
}

footer cite {
  font-weight: bold;
}
