@charset "utf-8";

/* HIGHLIGHT.JS                             */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* Hoja de estilo para highlight.js         */
/*                                          */
/* 13 de junio de 2017                      */
/*                                          */

/* Estilo para PHP imitando a Eclipse PDT */

code.language-php { line-height: 120%; }

pre code.language-php .comment      { color: rgb( 85,127, 95) } /* comment                              */
pre code.language-php .keyword      { color: rgb(127,  0, 85) } /* keyword                              */
pre code.language-php .number       { }                         /* number                               */
pre code.language-php .phpdoc       { }                         /* phpdoc params in comments            */
pre code.language-php .preprocessor { color: rgb(255,  0,  0) } /* preprocessor marks: "<?php" and "?>" */
pre code.language-php .string       { color: rgb(  0,  0,192) } /* string (of any type)                 */
pre code.language-php .variable     { }                         /* variable starting with "$"           */

/* Estilo para HTML imitando a Eclipse PDT */

code.language-html { font-weight: bold; font-size: 110%; }

pre code.language-html .tag       { color: rgb( 63,127,127) } /* any tag from "<" till ">"              */
pre code.language-html .attribute { color: rgb(127,  0,127) } /* tag's attribute with or without value  */
pre code.language-html .value     { color: rgb( 42,  0,255) } /* attribute's value                      */
pre code.language-html .comment   { color: rgb( 63, 95,191) } /* comment                                */
pre code.language-html .pi        { color: rgb(  0,128,128) } /* processing instruction (<? ... ?>)     */
pre code.language-html .doctype   { color: rgb(  0,128,128) } /* <!DOCTYPE ... > declaration            */
pre code.language-html .cdata     { color: rgb(  0,128,128) } /* CDATA section                          */

/* Estilo para CSS imitando a Eclipse PDT */

code.language-css { font-weight: bold; font-size: 110%; }

pre code.language-css .tag           { color: rgb( 63,127,127) } /* tag in selectors                    */
pre code.language-css .id            { color: rgb( 63,127,127) } /* #some_name in selectors             */
pre code.language-css .class         { color: rgb( 63,127,127) } /* .some_name in selectors             */
pre code.language-css .at_rule       { color: rgb( 63,127,127) } /* @-rule till first "{" or ";"        */
pre code.language-css .attr_selector { color: rgb( 63,127,127) } /* attribute selector ([])             */
pre code.language-css .pseudo        { color: rgb( 63,127,127) } /* pseudo classes/elements             */
pre code.language-css .comment       { color: rgb( 63, 95,191) } /* comment                             */
pre code.language-css .rules         { color: rgb( 63,127,127) } /* everything from "{" till "}"        */
pre code.language-css .attribute     { color: rgb(127,  0,127) } /* property name inside a rule         */
pre code.language-css .value         { color: rgb( 42,  0,255) } /* property value inside a rule        */
pre code.language-css .number        { color: rgb( 42,  0,255) } /* number within a value               */
pre code.language-css .string        { color: rgb( 42,  0,255) } /* string within a value               */
pre code.language-css .hexcolor      { color: rgb( 42,  0,255) } /* hex color (#FFFFFF) within a value  */
pre code.language-css .function      { color: rgb( 42,  0,255) } /* CSS function within a value         */
pre code.language-css .important     { color: rgb( 63,127,127) } /* "!important" symbol                 */

