@charset "utf-8";

/* PROGRAMACION WEB EN PHP                  */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS curso: Programación web en PHP       */
/*                                          */
/* 6 de junio de 2017                       */
/*                                          */

/* CSS comun */

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/inconsolata.woff");
}

html {
  background-color: white;
  font-family: sans-serif;
  text-align: justify;
}

section {
  clear: both;
  border-top: solid 2px black;
  margin-top: 1em;
  padding-top: 0;
}

section section {
  border-top: solid 1px black;
}

footer {
  margin-top: 2em;
}

h1 {
  margin-left: 75px;
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 105%;
  font-weight: bold;
}

div.ejf {
  background-color: white;
  border: black 2px solid;
  padding: 2px 5px 5px;
  margin: 10px 5px;
  width: 70%;
  text-align: justify;
}

div.ejf {
  background-color: #D9EDF4;
}

div.ejf h2 {
  font-size: 120%;
  text-align: center;
}

div.codphp  {
  border: black 2px solid;
  margin: 0 20px 10px;
  padding: 0 10px;
  background-color: white;
  font-size: 105%;
  vertical-align: top;
}

div.codhtml {
  border: black 2px solid;
  margin: 0 20px 10px;
  padding: 0 10px;
  background-color: white;
  font-size: 105%;
}

div.html {
  border: black 2px solid;
  margin: 0 20px 10px;
  padding: 10px 10px;
  background-color: white;
}

.clear {
  clear: both;
}

h2 {
  clear: both;
}

.derecha { text-align: right; }

.soft-atajo-teclado {
  font-family: monospace;
  font-size: 120%;
  font-weight: bold;
}

.soft-menu {
  background-color: #D4D0C8;
  font-family: serif;
}

.resaltadoconborde {
  border: blue 2px solid;
}

.codigo-resaltado {
  margin: 0 1px;
  padding: 0 1px;
  outline: red 2px solid;
}

table.conborde, table.conborde td, table.conborde th {
  border: black 1px solid;
}

table.bordetbody {
  border-collapse: collapse;
}

table.bordetbody tbody {
  border-bottom: 5px black solid;
}

table.franjas thead tr, table.franjas tbody tr:nth-child(even) {
  background-color: #eee;
  color: black;
}

address {
  clear: both;
  border-top: black solid 1px;
  margin-top: 10px;
  padding-top: 5px;
}

p.ultmod {
  clear: both;
  border-top: black 2px solid;
  margin-top: 1px;
  padding-top: 2px;
  text-align: left;
}

p.licencia {
  text-align: left;
}

table.ejemplo {
  width: 100%;
  border-spacing: 5px;
  text-align: left;
}

/* table.ejemplo td { width: 50%; vertical-align: top; border: #7D7D7D 2px solid;
padding: 0 5px; } */

table.ejemplo3 td {
  width: auto;
  border-spacing: 5px;
  vertical-align: top;
}

/* No lo entiendo, pero si pongo width: 33% lo hace pequenyo */

table.ejemplo td {
  vertical-align: top;
}

table.sinborde td {
  border: none;
}

td.codphp, td.codhtml {
  width: 50%;
  border: black 2px solid;
  padding: 0 5px;
  background-color: white;
  font-size: 105%;
}

td.resul-html {
  width: 50%;
  border: black 2px solid;
  padding: 0 5px;
  background-color: white;
  font-size: 105%;
}

td.resul-php {
  width: 50%;
  border: black 2px solid;
  padding: 0 5px;
  background-color: white;
  font-size: 105%;
}

td.conf {
  background-color: white;
  font-family: monospace;
}

td.expl {
  background-color: white
}

pre {
  margin: 5px;
}

.incompleto {
  color: red;
  background-color: #FFFFFF;
}

object.ejercicio {
  width: 90%;
  height: 400px;
  border: 2px solid black ;
}

object.ejemplo {
  width: 90%;
  border: 2px solid black ;
}

p.ejercicio {
  text-align: center;
}

p.enlace-ejercicio {
  margin-right: 5%;
  font-size: 80%;
  text-align: right;
}

div.diapo {
  border: black 2px dotted;
  margin-left: auto;
  margin-right: auto; width: 90%;
  height: 300px; overflow: hidden; position: relative;
  line-height: 110%;
}

div.diapo div {
  padding: 5px; width: 98%; height: 98%; position: relative;
}

div.diapo p.control {
  position: absolute; bottom: 0; right: 0;
}

/* Lo que viene a continuacion son los restos de la CSS de Amaya */

p {
  margin:5px 0;
}

p.aviso {
  border-left: 2px red solid;
  margin: 10px;
  padding: 10px;
  color:red;
}

p.centrado {
  text-align: center;
}

table.centrado {
  margin-left: auto;
  margin-right: auto;
}

tr.centrado, td.centrado, th.centrado {
  text-align: center;
}

p.derecha {
  text-align: right;
}

pre.fuente {
  border: #7D7D7D 2px solid;
  margin: 0 10px;
  padding: 3px 5px;
  background-color: #E0E0E0;
  color: black;
}

hr {
  clear: both;
  width: 100%;
}

hr.corta {
  clear: both;
  width: 50%;
}

table.indice td {
  text-align: left;
  vertical-align: top;
}

col.centrado {
  padding: 0 10px;
  text-align: center;
}

ul {
  margin-top: 0;
}

li {
  clear: both;
}

img#vpp {
  position: absolute;
  top: 5px;
  left: 5px;
  border:none;
}

img.d {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}

img.i {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.captura img, .captura svg {
  border: black 2px dotted;
  padding: 5px;
}

.captura {
  text-align: center;
}

.numero-circulo {
  float: left;
  margin-left: -60px;
  margin-top: 10px;
  font-size: 300%;
  line-height: 1px;
}

div.filaflex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  clear: both;
  margin: 5px 0px;
}

div.filaflex.cabecera {
  margin-bottom: -5px;
  padding-bottom: 0;
  text-align: center;
}

div.filaflex.nogrow div:not([class="icono"]) {
  width: auto;
  flex-grow: 0;
}

div.filaflex.nogrow h2, div.filaflex.nogrow h3 {
  margin: 0;
}

div.filaflex div:not([class="icono"]) {
  width: 100px;
  flex-grow: 1;
}

div.filaflex div.nogrow {
  width: auto;
  flex-grow: 0;
}

div.filaflex div.columnaflex {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
}

div.filaflex div.columnaflex div {
  width: auto;
}

div.filaflex div.titulo {
  font-weight: bold;
}

div.filaflex div.icono-navegadores {
  flex-grow: 0;
  width: 50px;
  margin-top: 8px;
}

div.filaflex div.icono-navegadores-vacio {
  flex-grow: 0;
  width: 50px;
  margin-top: 8px;
}

div.filaflex div.icono-ok {
  flex-grow: 0;
  width: 40px;
  margin-top: 8px;
}

div.filaflex div.icono-xhtml-ok {
  flex-grow: 0;
  width: 120px;
  margin-top: 8px;
}

div.filaflex div.icono-enlace {
  flex-grow: 0;
  width: 40px;
  /* no tiene margin-top porque uso la clase en div.cabecera */
}

div.filaflex pre {
  margin: 5px 0;
  white-space: pre-wrap;
}

div.codigo, div.resultado {
  clear: both;
  border: 2px black solid;
  margin: 5px 10px;
  padding: 0;
  background-color: white;
  color: black;
  font-family: "Inconsolata", monospace;
  font-size: 100%;
  line-height: 110%;
}

div.codigo {
  padding: 0 5px;
}

div.resultado object {
  width: 100%;
}


/* Pantallas estrechas */

@media screen and (max-width: 768px) {
  html {
    margin-left: 2em;
    margin-right: 2em;
  }

  h1#indice {
    margin-left: 140px;
  }

  nav, div.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2, div.nav h2 {
    display: none;
  }

  nav p, div.nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a, div.nav a {
    color: black;
    text-decoration: none;
  }

  nav i, div.nav i {
    display: none;
  }

  nav i.icon-html5, div.nav i.icon-html5 {
    display: block;
  }

  nav div.toc, div.nav div.toc {
    display: none;
  }

  table.ejemplo td, table.indice td {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  pre {
    white-space: pre-wrap;
    text-align: left;
  }

  div.filaflex {
    display: block;
    margin-bottom: 15px;
  }

  div.filaflex.cabecera {
    display: none;
  }

  div.filaflex div:not([class="icono"]) {
    width: auto;
  }

  div.filaflex div.icono-navegadores-vacio {
    display: none;
  }
}

/* Pantallas anchas */

@media screen and (min-width: 768px) {
  html {
    margin-left: 12em;
    margin-right: 4em;
  }

  nav, div.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2, div.nav h2 {
    margin: 0;
    padding: 0;
    font-size: 110%;
    text-align: left;
  }

  nav p, div.nav p {
    font-size: 350%;
    margin: 5px 0 0;
  }

  nav a , div.nav a {
    text-decoration: none;
    color: black;
  }

  nav i.actual, div.nav i.actual {
    color: green;
  }

  nav ul, div.nav ul {
    margin-top: 0;
    padding-left: 1em;
  }

  nav ul li, div.nav ul li {
    margin: 0 0 0.1em;
  }

  nav ul ul, div.nav ul ul {
    margin: 0;
    padding-left: 0.5em;
  }

  nav ul ul li, div.nav ul ul li {
    margin: 0;
  }
}

/* Impresora */

@media print {
  html {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
  }

  nav p, div.nav p {
    display: none;
  }

  nav h2, div.nav h2 {
    display: none;
  }

  code {
    font-size: 100% !important;
  }

  pre {
    white-space: pre-wrap !important;
  }

  p.volver-principio {
    display: none;
  }

  tr {
    page-break-inside: avoid;
  }
}

/* Clases para fragmentos de codigo en texto */

/* Estilo para HTML imitando a Brackets */

.html-eti        { color: #446FBD; }
.html-atri       { color: #6D8600; }
.html-atri-valor { color: #E88501; }

/* Estilo para CSS imitando a Brackets */

.css-sele    { color: #446FBD; }
.css-prop    { color: #8757AD; }
.css-feature { color: #8757AD; }
.css-valor   { color: #E88501; }
.css-numero  { color: #8E8600; }
.css-unidad  { color: #8E8600; }
.css-pseudo  { color: #535353; }
.css-arroba  { color: #8757AD; }
.css-funcion { color: #4700FF; }

/* Estilo para PHP imitando a Eclipse PDT */

.php-con { font-weight: bold; } /* Constante                    */
.php-del { font-weight: bold; } /* Delimitador de fragmento php */
.php-dir { font-weight: bold; } /* Directiva de php.ini         */
.php-fun { font-weight: bold; } /* Función                      */
.php-ope { font-weight: bold; } /* Operador                     */
.php-res { font-weight: bold; } /* Palabra reservada            */
.php-var { font-weight: bold; } /* Variable                     */

/* CSS especifico apuntes PHP */

