body {
    padding: 0 20px;
    background-color: hwb(10 60% 0%);
    font-family: sans-serif;
}

h1 {
    margin: 10px;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
}

footer {
    border-top: black 1px solid;
    margin-top: 2em;
}
