body {
    padding: 0 20px;
    background-color: hwb(120 0% 60%);
    color: white;
    font-family: sans-serif;
}

h1 {
    margin: 10px;
    font-size: 150%;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: hwb(120 45% 45%);
}

footer {
    border-top: white 1px solid;
    margin-top: 2em;
}
